<head>
    <meta charset="UTF-8" />
    <title>Tela de Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="login.component.css" />
</head>

<body>
        <div class="content">

            <div id="login">
                <form method="post" action="">
                    <h1>Login</h1>
                    <p>
                        <label for="emails">Email</label>
                        <input type="text" id="emails" name="email_login" placeholder="ex. saojudas@gmail.com" />
                    </p>

                    <p>
                        <label for="senhas">Senha</label>
                        <input id="senhas" name="senha" type="password" placeholder="Coxinha123" />
                    </p>

                    <p>
                        <input type="checkbox" name=" manterlogado" id=" manterlogado" value="" />
                        <label for="manterlogado"> Manter-se conectado</label>
                    </p>

                    <button type="submit" onclick="LoginRoutingModule.logar()" value="Entrar" id="btn-login">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Entrar
                    </button>
                </form>
            </div>